* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* ==================================================================================================================================*/

.logo-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.logo-heading-container h2 {
  font-weight: 300;
  font-size: 1.7vh;
}

.circle-logo {
  width: 7vh;
  height: 7vh;
  background-color: #ff8e3f;
  border-radius: 50%;
  border: #fff solid 1px;
  margin-right: 2vh;
}

.sidebar {
  width: 40vh !important;
  background-color: #292929;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-top: 2vh;
}

.nav-links div {
  height: 8vh;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.nav-links img {
  margin-left: 12vh;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1vh;
  font-weight: 200;
  font-size: 1.5vh;
}

.nav-links div:hover {
  background-color: #1e1e1e;
  transition: 1s;
  cursor: pointer;
}

.log-out-btn-container {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#technician {
  background-color: #1e1e1e;
}

#dashboard img {
  height: 1.5vh;
}

#contracts img {
  height: 1.5vh;
}

#technician img {
  height: 1.5vh;
}

#client img {
  height: 1.5vh;
}

#assignjob img {
  height: 1.5vh;
}

#reporting img {
  height: 1.5vh;
}

#logoutbtn img {
  height: 1.5vh;
}

#logoutbtn a {
  color: #fff;
  text-decoration: none;
  margin-left: 1vh;
  font-size: 1.5vh;
  font-weight: 200;
}

#logoutbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================================================================================================================================*/
.main-technician-container {
  padding: 4vh;
  width: 150vh;
  margin-left: 40vh;
}
.main-title-container {
  width: 100%; /* Title container spans full width */
  height: 16vh; /* Height for the title container */
  background: linear-gradient(to right, #f1712b, #cd4e14);
  border-radius: 6px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column;
  padding: 0; /* No padding inside the container */
}

.main-title-container h1 {
  font-size: 5vh;
  font-weight: 300;
}

.main-title-container h3 {
  font-size: 2vh;
  font-weight: 100;
}

.tech-input-group {
  background-color: #292929;
  height: 70vh;
  margin-top: 3vh;
  border-radius: 6px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column;
}

.tech-input-group-secondary-container {
  display: flex;
  flex-wrap: wrap;
  width: 85vh;
}

.row-container {
  display: flex;
  justify-content: space-between; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: row;
  width: 100%;
  margin-top: 3vh;
}

.tech-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 40vh;
}

.tech-input label {
  font-size: 1.5vh;
  font-weight: 200;
}

.tech-input input {
  font-size: 1.5vh;
  font-weight: 200;
  width: 25vh;
  background-color: transparent;
  border: solid #ff8e3f 1px;
  border-radius: 5px;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 4vh;
  color: #ff8e3f;
}

.technician-submit-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
}

.tech-input input::placeholder {
  color: #ff8e3f;
  font-weight: 100;
  font-size: 1.5vh;
}

.form-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form-heading h3 {
  font-weight: 300;
  font-size: 2.4vh;
}

.technician-submit-border button {
  width: 25vh;
  height: 4vh;
  background: linear-gradient(to right, #ff8e3f, #995526);
  border: #ff8e3f solid 2px;
  border-radius: 7px;
  color: #fff;
  font-size: 1.5vh;
}

.technician-submit-border button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #995526, #ff8e3f);
  transition: 500ms;
}
